DB_ADDRESS=mysql:3306
DB_HOSTNAME=shopi_mysql
DB_PORT=3306
DB_FORWARD_PORT=3306
DB_USERNAME=admin
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret
DB_NAME=shopi

REDIS_HOST=shopi
REDIS_PORT=6379
REDIS_PASSWORD=secret
REDIS_FORWARD_PORT=6380

LOGGER_FILE="./log/shopi.log"
